In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.gridspec as gridspec

In [7]:
function='tanh' #tanh, leaky_ReLU
 
realizations=3 #Noise realization. 0,1,2 unless otherwise specified 
sigma=0.06;mean=0; #sigma from 0 to 0.2 unless otherwise specified.

file_model='NN_function_' + function + '_NREP_10_res_0.01_data.csv'
model_d='../data/' + file_model
d=pd.read_csv(model_d,index_col=False)
#d=pd.read_csv(model_d)
display(d)
d=d.drop(columns='Unnamed: 0')
sample=d.index.stop
print(d.index.stop)

noise = np.random.normal(mean,sigma,sample)

      Unnamed: 0    x1         y  rep
0              0 -4.00  0.000000  0.0
1              1 -3.99  0.000067  0.0
2              2 -3.98  0.000135  0.0
3              3 -3.97  0.000203  0.0
4              4 -3.96  0.000273  0.0
...          ...   ...       ...  ...
7995         795  3.95  0.998571  9.0
7996         796  3.96  0.998548  9.0
7997         797  3.97  0.998524  9.0
7998         798  3.98  0.998501  9.0
7999         799  3.99  0.998478  9.0

[8000 rows x 4 columns]

8000